  @font-face {
    font-family: brando-bold;
    src: url('../fonts/brando/BrandoArabic Bold.otf');
}

@font-face {
    font-family: brando-black;
    src: url('../fonts/brando/BrandoArabic Black.otf');
}

@font-face {
    font-family: brando-semi-bold;
    src: url('../fonts/brando/BrandoArabic SemiBold.otf');
}

@font-face {
    font-family: brando-extra-light;
    src: url('../fonts/brando/BrandoArabic ExtraLight.otf');
}

@font-face {
    font-family: brando-regular;
    src: url('../fonts/brando/BrandoArabic Regular.otf');
}


@font-face {
    font-family: brando-text;
    src: url('../fonts/brando/BrandoArabic Text.otf');
}

@font-face {
    font-family: brando-light;
    src: url('../fonts/brando/BrandoArabic Light.otf');
}

.data__table__grid {
    font-family: brando-semi-bold;
    color : #000000;
}
.data__table__grid .filters img {
    margin-left: 7px;
}
.data__table__grid .filters {
    border: 2px solid;
    border-radius: 25px;
    padding: 0.6rem 1rem;
    margin-right: 10px;
    font-size: .8rem;
    font-family: 'brando-regular';
    border-color: #dedede;
    cursor: pointer;
}

* {
    font-variant-numeric: lining-nums !important;
}

body {
    font-family: brando-regular;
    color : #000000 !important;
    background-color: rgb(247, 247, 247) !important;
}

.px__500 {
    max-width : 500px !important;

}

.px__480 {
    max-width: 480px !important ;
}

.cursor__pointer {
    cursor:pointer;
}

.table thead th,
.table tbody td
{
    text-align:center !important;
}



.register-form p {
    font-family: brando-text;
}
.brando__bold {
    font-family: brando-bold !important;
}
.brando__semi__bold {
    font-family: brando-semi-bold;
}
.brando__black {
    font-family: brando-black;
}
.brando__regular {
    font-family: brando-regular !important;
}
.brando-extra-light {
    font-family: brando-extra-light;
}

html body.blank-page .content-wrapper .header-container {
    height: auto;
    margin-bottom: 4rem;
}

html body.blank-page .content-wrapper .header-container h1{
    font-family:  brando-semi-bold;
}

.horizontal-menu.navbar-sticky .content > .content-wrapper {
    margin-top : 4rem !important;
}
.form-control {
    color : #000000;
}
.form-control:focus {
    color: initial;
    border-color: transparent;
    outline: 0;
    box-shadow: initial !important;
}

@media screen and (max-width : 450px) {
    .filters.back__button {
        left : 39% !important;
    }
}
@media screen and (max-width : 986px) {
    html body.blank-page .content-wrapper .header-container h1{
        font-family:  brando-semi-bold;
        font-size : 2rem;
    }

    html body.blank-page .content-wrapper .header-container img{
        width : 4.5rem;
    }

    .header-container .last__header {
        display: none;
    }

    .header-container .middle__header {
        margin-top : 2rem;
    }

    .grid__4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-row-gap: 1rem; */
        /* grid-template-rows: 1fr 1fr; */
        margin-right: 0px;
        justify-items: stretch;
        grid-row-gap: 6px;
        grid-column-gap: 8px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center !important;

    }

    .grid__header {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        margin-bottom: 40px !important;

    }



    .grid__header div:nth-child(2) {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column: span 2;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .grid__header div:nth-child(3) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        text-align: left !important;
    }

    .grid__header div:nth-child(3) h3 {
        font-size: 1.3rem;
    }

    .grid__header div:nth-child(2) h1 {
        font-size: 1.8rem !important;
    }


    .table td {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .grid__4 .filters {
        margin-right: 0px;
    }

    .paging_custom {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: end;
        /* justify-content: center; */
        justify-items: center;

    }
    .paging_custom input {
        grid-column: span 2;
        /* grid-row: 2/2; */
        /* grid-column-start: 1; */
        /* grid-row-start: 2; */
        width: 11%;
    }

    .dataTables_wrapper .paging_custom {
        align-items: justify-conte;
    }

    button.modal__submit {
        font-size: 1.1rem !important;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, input, p, label {
    color : #000000;
}

.card {
    border-radius: 30px !important;
    border-width: 1px !important;
    border-color: rgb(230, 230, 230);
    border-style: solid !important;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px 0px rgba(179, 179, 179, 0.26) !important;
}

.common__form p {
    font-size : 1.2rem;
    line-height: 2.5rem;
}

.common__form label {
    font-size : 1rem;
    font-family: brando-semi-bold;
}

.common__form label.brando-extra-light {
    font-family: brando-extra-light;
}

.common__form span.brando__bold {
    font-family: brando-bold;
}



.common__form span {
    font-size : 1rem;
    font-family: brando-light;
    color : #8c8c8c
}
.form-row {
    margin-bottom : 15px;
}

.form-row label {
    margin-bottom : 15px;
}

input.form-control,
div.form-control,
textarea.form-control {
    background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(.25turn, #e93e39, 50%, #faba20) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    min-height: 60px;
    font-family: brando-light;
}

.icon-in-control-without-border {
    position: absolute;
    top: 30%;
    left: 15px;
    font-size: 1rem;
    background: linear-gradient(.25turn, #e93e39, 50%, #faba20) border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-in-control {
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 1rem;
    background: linear-gradient(.25turn, #e93e39, 50%, #faba20) border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom : 1px solid orange;

}

.pos__relative {
    position:relative;
}

.pos__relative.disable input{
    background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(.25turn, #e2e3e7, 50%, #c8cbd2) border-box;
}

.pos__relative.disable .icon-in-control {
    background:linear-gradient(.25turn, #e2e3e7, 50%, #c8cbd2) border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom : 1px solid #e2e3e7;
}

.list__store {
    width: auto;
    max-width: 50%;
}

button.btn {
    background : linear-gradient(.30turn, #e93e39, 50%, #faba20) !important;
    border-radius: 28px !important;
    font-family: brando-bold ;
}

.radio__btn {
    display:none;
}

.radio__checked {
    position: relative;
    margin-right: 28px;
}

.radio__checked.checkbox__checked::after {
    border-radius: 4px;
}

.radio__checked::after {
    content: '';
    position: absolute;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(.25turn, #e93e39, 50%, #faba20) border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    right: -30px;
    top: 3px;
    max-height: 20px;
    display:flex;
    cursor: pointer;
}

.radio__checked::before {
    content: '';
    position: absolute;
    border: solid black;
    width: 8px;
    border-bottom-right-radius: 2px;
    height: 18px;
    right: -30px;
    transform: rotate(45deg);
    top: -2px;
    z-index: 9999;
    border-width: 0px;
    cursor: pointer;
}

.login__button {
    padding: 1rem 2rem;
    font-size: 1.15rem;
}

.radio__btn:checked ~ .radio__checked::before {
    border-width: 0px 2px 2px 0px;
}

.paging_custom {
    text-align: center !important;
}

.paging_custom .custom-pagination {
    border:2px solid;
    text-align: center;
    width: 32px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1 !important;

}
.paging_custom .custom-pagination {
    padding: 2px 11px;
    border-radius: 9px;
    border-color: #bfbfbf;
    font-family: brando-regular;
}

.paging_custom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.paging_custom a {
    margin: 0.5rem;
    font-family: brando-regular !important;
}

.table thead th {
    font-family: brando-light;
    color : #000000;
    font-size : 1rem;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #DFE3E7;
}

.table td {
    border-bottom: 2px solid #DFE3E7;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.table.dataTable thead .sorting_asc:before {
    content: url(../images/icon/chevron-down_up.png);
    position: absolute;
    bottom: -22px;
    right: 47%;
    font-size: 3rem;
    font-weight: 100;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}

.table.dataTable thead .sorting_asc:nth-child(1):before,
.table.dataTable thead .sorting_asc:nth-child(2):before,
.admin_tbl.table.dataTable thead .sorting_asc:nth-child(3):before {
    content: url(../images/icon/chevron-down_up.png);
    position: absolute;
    bottom: -22px;
    right: 40%;
    font-size: 3rem;
    font-weight: 100;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}

.table.dataTable thead .sorting_desc:nth-child(1):before,
.table.dataTable thead .sorting_desc:nth-child(2):before,
.admin_tbl.table.dataTable thead .sorting_desc:nth-child(3):before  {
    content : url('../images/icon/chevron-down.png');
    position: absolute;
    bottom: -27px;
    right: 40%;
    font-size: 3rem;
    font-weight: 100;
    opacity: 1;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}

.table.dataTable thead .sorting_desc:before  {
    content : url('../images/icon/chevron-down.png');
    position: absolute;
    bottom: -27px;
    right: 47%;
    font-size: 3rem;
    font-weight: 100;
    opacity: 1;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}


.table.dataTable thead .sorting:before, .table.dataTable thead .sorting:after {
    content : "";
}

.table thead th {
    font-size: 1.28rem;
}

.table.dataTable thead .sorting_desc:after , .table.dataTable thead .sorting_asc:after {
    content : "";
}

.table.dataTable tbody td {
    color : #000000;

}

.table.dataTable tbody td span {
    vertical-align: middle;
    font-family: 'brando-regular';
    font-size : 1rem;
}

td button.badge:focus {
    outline: none !important;
}
.table.dataTable tbody td span.badge,
.table.dataTable tbody td a.badge,
.table.dataTable tbody td button.badge
{
    background: transparent;
    color: #000000;
    border: 2px solid;
    border-radius: 10px;
    padding: 0.6rem 0.5rem;
    margin-right: 10px;
    font-size: .8rem;
    font-family: 'brando-regular';
    border-color: #dedede;
}

.table.dataTable tbody td span.badge  img,
.table.dataTable tbody td a.badge  img,
.table.dataTable tbody td button.badge  img
{
    margin-left: 7px;
}

.view__merchant {
    cursor: pointer;
}

.table.dataTable tbody td {
    font-family: brando-regular;
    font-size: 1.8rem;
    font-variant-numeric: lining-nums;
}
.table.dataTable tbody td:first-child {
    font-family: brando-bold;
    font-size: 2rem;
}

.table.dataTable tbody td.bold {
    font-family: brando-bold;
    font-size: 2rem;
}

.table.dataTable tbody td.small__fonts {
    font-size : 1.1rem;
}

button img {
    margin-left: 10px;
}

.modal-header h1 {
    font-size: 2rem;
}

.modal__close {
    border: none;
    background: none;
    position: absolute;
    z-index: 9;
    left: 28px;
    top: 42px;
}
.modal-backdrop {
    background: linear-gradient(.25turn, #1a1a1a, 50%, #666666);
}
@media (min-width: 576px) {
    .modal-dialog-scrollable {
        max-height: 100%;
    }
    .modal-dialog-scrollable .modal-content {
        max-height: 100%;
    }
}

.modal-dialog-scrollable .modal-content {
    max-height: 100%;
    overflow: hidden;
    height: 100%;
    border:none;
}

button.modal__submit {
    font-size: 1.5rem;
    border-radius: 25px !important;
}

.modal-content {
    width: 500px !important;
    max-width: 100%;
}

.modal input {
    font-family: brando-extra-light;
    font-size: 1.1rem;
    font-weight: initial;
}

.option__badge {
    background-color: #3cb878;
    padding: 2px 23px 4px 12px;
    color: #fff !important;
    border-radius: 14px;
    font-family: 'brando-extra-light' !important;
}

.td__badge {
    background: #3cb878;
    color: #fff !important;
    border-radius: 15px;
    padding: 0.3rem 1rem 0.5rem 1rem;
    font-size: .9rem !important;
    font-family: 'brando-text' !important;
    width: auto;
}

.table .td__badge {
    white-space: nowrap;
}

#viewLinkForm h3 {
    font-family: brando-bold;
    font-size: 2.56rem;
}

.icon-in-control-with-text-horizontal {
    top: 12px;
    font-size: .9rem !important;
}

.icon-in-control-with-text-horizontal span.badge img {
    margin-left: 8px !important;
}

span.icon__badge {
    background: transparent;
    color: #000000 !important;
    border: 2px solid;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    margin-right: 10px;
    font-size: .8rem;
    font-family: 'brando-regular';
    border-color: #dedede;
    -webkit-text-fill-color: initial !important;
}

.icon-in-control-with-text-horizontal span.badge {
    background: transparent;
    color: #000000 !important;
    border: 2px solid;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    margin-right: 10px;
    font-size: .8rem;
    font-family: 'brando-regular';
    border-color: #dedede;
    -webkit-text-fill-color: initial !important;
}


.select2-results__option {
    font-family: 'brando-extra-light' !important;
    padding: 8px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice {
    position: relative;
    background-color: #fff !important;
    margin-top: 10px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff !important;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    position: absolute;
    right: 19px;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    /* margin-left: 5px; */
    margin-right: auto;
    margin-top: 5px;
    padding: 1px 2px;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    position: absolute;
    right: 11px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-bottom: 8px !important;
    padding-top: 5px !important;
}
button.modal__close:focus {
    outline: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fff !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-dropdown {
    background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(.25turn, #e93e39, 50%, #faba20) border-box;
    border-radius: 10px !important;
    border: 1px solid transparent !important;
    border-color : none;
    font-weight: 600;
    overflow: hidden;

}

.pr-12 {
    padding-right: 12px !important;
}
.select2-dropdown {
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 15px !important;
    padding: 5px 0px 5px 0px !important;
    margin-top: 1px;
}

.dataTables_empty {
    font-family: 'brando-text' !important;
}


.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    min-height: 60px !important;
}

.icon-in-control-with-text {
    top: 13px;
}

.icon-in-control-with-text span {
    -webkit-text-fill-color: black;
    background: transparent;
    font-size: 10px;
    margin-top: 4px;
    color: black;
}

.icon-in-control-without-abs {
    position: initial !important;
    top: 15px;
    left: 15px;
    font-size: 1rem;
    background: -webkit-linear-gradient( #e93e39, #faba20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom : 1px solid orange;

}

.domain__link {
    text-transform: lowercase;
    font-size : 0.9rem !important;
    font-family: 'brando-extra-light' !important;
}


.domain__link span {
    text-transform: lowercase;
    color: #fab920;
    font-size : 0.9rem !important;
    font-family: 'brando-extra-light';
    font-weight: 600;
}

.common__form span.error {
    font-size: .845rem;
    font-family: 'brando-semi-bold';
}

.dataTables_processing{
    border: 2px solid rgb(222, 222, 222);
    border-radius: 25px;
    padding: 0.6rem 1rem;
    margin-right: 10px;
    font-size: 1rem;
    font-family: brando-regular;
    cursor: pointer;

}

.modal-backdrop.show {
    background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(26,26,26) 0%, rgb(102,102,102) 100%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(26,26,26) 0%, rgb(102,102,102) 100%);
    opacity: 0.702;
}

.modal-dialog-scrollable .modal-content {
        border-width: 1px;
        border-color: rgb(230, 230, 230);
        border-style: solid;
        border-radius: 40px;
        background-color: rgb(255, 255, 255);


}

.common__form span.bolder {
    font-size: 1rem;
    font-family: brando-semi-bold;
    color: #000000;
}

.mb__7 {
    margin-bottom: .7rem;
}

.paylink_view_pdf img {
    margin-left: 10px !important;
}

#viewLinkForm .header__title span.td__badge{
    margin-top: .5rem;
}

.select2-search__field {
    height: 32px !important;
}

.in-active-image {
    display: none;
}

.filters.active .active-image {
    display: none;
}

.filters.active .in-active-image {
    display: initial;
}

.filters.active {
    background: linear-gradient(90deg, #e93e39, 50%, #faba20) padding-box,
    linear-gradient(0deg,#e93e39, 50%, #faba20) border-box;
    border: 2px solid transparent;
    color :#fff !important;
    margin-left: 3px;
}

.filters.active .in-active-image.cross-icon {
    display: initial;
    position: absolute;
    top: -3px;
    left: -12px;
}

.filters.back__button {
    position: absolute;
    top: -19px;
    left: 45%;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(.25turn, #e93e39, 50%, #faba20) border-box;
    border-radius: 6px;
    border: 2px solid transparent;
}

.plus_duration {
    transform: rotate(90deg);

}

.minus_duration {
    transform: rotate(270deg);
}

.border__orange {
background: linear-gradient(#fff, #fff) padding-box, linear-gradient(.25turn, #e93e39, 50%, #faba20) border-box;
border-radius: 5px;
border: 1px solid transparent !important;
/* min-height: 60px; */
font-family: brando-light;
padding: 1px;
box-shadow: initial !important;
}

.ui.popup:before {

    box-shadow : 1px 1px 0 0 #faba20 !important;
}

.ui.bottom.center.popup:before {
    box-shadow: -1px -1px 0 0 #faba20 !important;
}

.jdp-input {
    font-size: 1.1rem !important;
}
.jdp-input span:not(.td__badge) {
    color : initial !important;
}
.jdp-block {
    padding: 5px 5px !important;
}
.jdp-block .jdp-label {
    margin-top: 3px;
}
.td_green_color_status {
    color : #3cb878 !important;
    background: #d6ffd2;
    border-radius: 7px !important;
    margin: 0px 10px !important;
}
.jdp-block.margin {
    margin: 0px 10px 0px 0px !important;
}
.jdp-block .jdp-label {
    font-size: 13px !important;
}
.jdp-input {
    font-size: 14px !important;
}
.add__button button {
    padding: 8px 22px;
}
.margin__bottom__modal__footer {
    margin-bottom: 37px;
}

button.modal__submit.border__radius__40 {
    border-radius: 40px !important;
}

.paging_custom .custom-pagination {
    outline: none !important;
}

.select2-container--default .select2-selection--multiple:focus {
    box-shadow: initial !important;
}